# Godot 4+ specific ignores
.godot/
export/html/*
export/macos/*
!export/html/Dockerfile

# Ignore macOS .DS_Store files in all subfolders
**/.DS_Store
.DS_Store

# Models that shall not be re-distributed
res/models/akai_e_espiritu.fbx
res/models/akai_e_espiritu_0.png
res/models/Passive_Marker_Man.glb
res/models/Passive_Marker_Man_MocapSuit02_diffuse.png
res/models/basicModel_m_re-export.fbx
res/models/basicModel_f_re-export.fbx
res/models/basicModel_smpl.mb

# All temporary debug outputs
tmp/
